* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ibarra-real-nova-regular - latin */
@font-face {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibarra-real-nova-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/ibarra-real-nova-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/ibarra-real-nova-v19-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ibarra-real-nova-v19-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/ibarra-real-nova-v19-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ibarra-real-nova-v19-latin-regular.svg#IbarraRealNova') format('svg');
    /* Legacy iOS */
}

/* ibarra-real-nova-700 - latin */
@font-face {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ibarra-real-nova-v19-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/ibarra-real-nova-v19-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/ibarra-real-nova-v19-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ibarra-real-nova-v19-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/ibarra-real-nova-v19-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ibarra-real-nova-v19-latin-700.svg#IbarraRealNova') format('svg');
    /* Legacy iOS */
}

/* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/public-sans-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v13-latin-regular.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-700 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/public-sans-v13-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v13-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v13-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v13-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v13-latin-700.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

.container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.navbar {
    display: flex;
    margin: 70px 0;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-left: auto;

}

.navbar__items {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    list-style: none;
}

.bitmap__collect {
    position: relative;
    background: url(../img/Bitma.jpg) no-repeat;
    background-size: contain;
    width: 100%;
    height: 700px;
}

.bitmap__info {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 440px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #FAFAFA;
}

.bitmap__info {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
}

.bitmap__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
    width: 200px;
    height: 48px;
    background: #203A4C;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;

}

.bitmap__button>svg {
    width: 48px;
    height: inherit;
}

.portifolio__collect {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

.portifolio__img {
    width: 540px;
    height: 600px;
    background: url(../img/Group\ 5.jpg) no-repeat;
    background-size: contain;
}

.portifolio__text {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-top: 1px solid #33323d46;
    border-bottom: 1px solid #33323d46;
}

.portifolio__h {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 30px;
}

.portifolio__p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.portifolio__buttton {
    width: 207px;
    height: 48px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323D;
    text-decoration: none;
    border: 1px solid #33323D;
    padding: 17px 32px;
    position: relative;
    top: 25px;
}

.portifolio__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.portifolio__cont__h {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}

.portifolio__cont__hr {
    background: #33323D;
    width: 530px;
    height: 2px;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.portifolio__cont__button {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323D;
    text-decoration: none;
    height: 48px;
    font-family: 'Public Sans';

    border: 1px solid #33323D;
    padding: 17px 32px;
}

footer {
    background: #33323D;
    margin-top: 150px;
    padding: 33px 0;
}

.portifolio__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.portifolio__footer__ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 42px;
    margin-right: auto;
    margin-left: 55px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.portifolio__footer__img>svg{
    margin: 0 5px;
}